html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

div#__next {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::selection {
  background: #b2e6ae;
  color: #fff
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scroll-snap-child {
  scroll-snap-align: start;
}

/* @media screen and (max-height: 1000px) {
  .intro-name-box {
    width: 550px;
  }
} */
